<div *ngIf="city" class="row">
  <!--<div class="col-md-4">-->
  <!--<div><label>city name: </label>{{city.name}}</div>-->
  <!--<div><label>city latitude: </label>{{city.lat}}</div>-->
  <!--<div><label>city longitude: </label>{{city.lon}}</div>-->
  <!--</div>-->
  <div *ngIf="forecast" class="col-md-5">
    <h2>{{ city.name }}:</h2>
    <div><label></label>{{forecast.currentCelcius}} &#8451;, {{forecast.currentlySummary}}</div>
    <div>{{forecast.dailySummary}}</div>
  </div>
  <div *ngIf="forecast" class="col-md-7">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Time</th>
          <th>t, &#8451;</th>
          <th>Wind Speed</th>
          <th>Wind Bearing</th>
          <th>Humidity, &#37;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>{{hours[0].time | date:'HH:mm'}}</b></td>
          <td>{{hours[0].temperature}}</td>
          <td>{{hours[0].windSpeed}}</td>
          <td>{{hours[0].windBearing}}</td>
          <td>{{hours[0].humidity}}</td>
        </tr>
        <tr>
          <td><b>{{hours[1].time | date:'HH:mm'}}</b></td>
          <td>{{hours[1].temperature}}</td>
          <td>{{hours[1].windSpeed}}</td>
          <td>{{hours[1].windBearing}}</td>
          <td>{{hours[1].humidity}}</td>
        </tr>
        <tr>
          <td><b>{{hours[2].time | date:'HH:mm'}}</b></td>
          <td>{{hours[2].temperature}}</td>
          <td>{{hours[2].windSpeed}}</td>
          <td>{{hours[2].windBearing}}</td>
          <td>{{hours[2].humidity}}</td>
        </tr>
        <tr>
          <td><b>{{hours[3].time | date:'HH:mm'}}</b></td>
          <td>{{hours[3].temperature}}</td>
          <td>{{hours[3].windSpeed}}</td>
          <td>{{hours[3].windBearing}}</td>
          <td>{{hours[3].humidity}}</td>
        </tr>
        <tr>
          <td><b>{{hours[4].time | date:'HH:mm'}}</b></td>
          <td>{{hours[4].temperature}}</td>
          <td>{{hours[4].windSpeed}}</td>
          <td>{{hours[4].windBearing}}</td>
          <td>{{hours[4].humidity}}</td>
        </tr>
        <tr>
          <td><b>{{hours[5].time | date:'HH:mm'}}</b></td>
          <td>{{hours[5].temperature}}</td>
          <td>{{hours[5].windSpeed}}</td>
          <td>{{hours[5].windBearing}}</td>
          <td>{{hours[5].humidity}}</td>
        </tr>
        <tr>
          <td><b>{{hours[6].time | date:'HH:mm'}}</b></td>
          <td>{{hours[6].temperature}}</td>
          <td>{{hours[6].windSpeed}}</td>
          <td>{{hours[6].windBearing}}</td>
          <td>{{hours[6].humidity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>